<div [ngClass]="{
  'light-theme': true
}">
  <div [ngClass]="{
    'page-container': true
  }">
    <div [ngClass]="'main-block'">
      <div [ngClass]="'login-registration-block'">
        <div [ngClass]="'center-block'">
          <div [ngClass]="'logo'"></div>
          <form [formGroup]="switch">
            <div [ngClass]="'field switch'">

              <input type="radio" [value]="'login'" id="switch-login" [formControlName]="'authtype'">
              <label for="switch-login">Вход</label>
              <input type="radio" [value]="'registration'" id="switch-registration" checked="checked"
                     [formControlName]="'authtype'">
              <label for="switch-registration">Регистрация</label>

            </div>
          </form>
          <form [formGroup]="signUp" *ngIf="switch.get('authtype').value === 'registration'">
            <div [ngClass]="'fields'">
              <input [ngClass]="'field icon login'" type="text" placeholder="Имя и фамилия" formControlName="login"
                     [title]="lang.translate('AUTH_RULE_LOGIN')">
              <input [ngClass]="'field icon email'" type="email" placeholder="Email" formControlName="email"
                     [title]="lang.translate('AUTH_RULE_EMAIL')">
              <div [ngClass]="'password-block'">
                <input [ngClass]="'field icon password'" [type]="signUp.get('password-preview').value ? 'text':'password'" placeholder="Пароль"
                     formControlName="password"
                     [title]="lang.translate('AUTH_RULE_PASSWORD')">
                <input type="checkbox" [ngClass]="'password-preview'" id="password-preview" formControlName="password-preview">
                <label for="password-preview"></label>
              </div>
            </div>
          </form>
          <form [formGroup]="signIn" *ngIf="switch.get('authtype').value === 'login'">
            <div [ngClass]="'fields'">
              <input [ngClass]="'field icon email'" type="email" placeholder="Email" formControlName="email"
                     [title]="lang.translate('AUTH_RULE_EMAIL')">
              <div [ngClass]="'password-block'">
                <input [ngClass]="'field icon password'" [type]="signIn.get('password-preview').value ? 'text':'password'" placeholder="Пароль"
                       formControlName="password"
                       [title]="lang.translate('AUTH_RULE_PASSWORD')">
                <input type="checkbox" [ngClass]="'password-preview'" id="password-preview2" formControlName="password-preview">
                <label for="password-preview2"></label>
              </div>
              <input [ngClass]="'remember'" type="checkbox" id="login-remember-me" formControlName="remember">
              <label for="login-remember-me">
                <div [ngClass]="'background'">
                  <div [ngClass]="'circle'"></div>
                </div>
                Запомнить Вас?
              </label>
            </div>
          </form>
          <div [ngClass]="{
            'button': true,
            'disabled': signUp.invalid
          }" *ngIf="switch.get('authtype').value === 'registration'">Регистрация
          </div>
          <div [ngClass]="{
            'button': true,
            'disabled': signIn.invalid
          }" *ngIf="switch.get('authtype').value === 'login'">Войти</div>
          <div [ngClass]="'another-auth'">
            <div [ngClass]="'line-label'">
              <div [ngClass]="'line'"></div>
              <div [ngClass]="'label'">или авторизуйтесь через</div>
              <div [ngClass]="'line'"></div>
            </div>
            <div [ngClass]="'login-methods'">
              <div [ngClass]="'facebook login-method'"></div>
              <div [ngClass]="'google login-method'"></div>
              <div [ngClass]="'vk login-method'"></div>
              <div [ngClass]="'github login-method'"></div>
            </div>
          </div>
        </div>
      </div>
      <div [ngClass]="'registration-terms-block'" *ngIf="switch.get('authtype').value === 'registration'">
        Нажимая кнопку “Регистрация”, Вы соглашаетесь с &nbsp;<a href="#">Условиями, Политикой использования данных</a>
        &nbsp;и&nbsp;<a href="#"> Политикой в отношении файлов cookie.</a>
      </div>
      <div [ngClass]="'registration-terms-block'" *ngIf="switch.get('authtype').value === 'login'">
        Нажимая кнопку “Войти”, Вы соглашаетесь с &nbsp;<a href="#">Условиями, Политикой использования данных</a>
        &nbsp;и&nbsp;<a href="#"> Политикой в отношении файлов cookie.</a>
      </div>
    </div>
  </div>
</div>
