/* You can add global styles to this file, and also import other style files */
@import "app/editor/editor.component.less";

body {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  font-size: @text-size;
  // line-height: 1.6em;
}
